a {
  position: relative;
}

fa-icon {
  cursor: pointer;
  margin: 0 0.5em;
  font-size: 1.7em;
  color: var(--icon-color);
}

fa-icon:hover {
  color: var(--icon-color-hover);
  font-size: 2em;
}

.side-text {
  position: absolute;
  color: white;
  font-size: 1;
  /* display: none; */
  left: 0%;
  top: 100%;
}

fa-icon:hover ~ .side-text {
  display: block;
}

input,
textarea {
  background-color: var(--input-bg);
}

::placeholder {
  color: var(--text-color);
}

.form-container {
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
}

input[placeholder],
textarea[placeholder] {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

form {
  width: 80%;
}
