<div [ngClass]="isMenuOpen ? ['bg-blur'] : ''"></div>

<nav
  [ngClass]="isMenuOpen ? ['navbar'] : ['navbar', 'nav-blur']"
  ngxHideOnScroll
  [classNameWhenHidden]="'nav--hidden'"
>
  <!-- LOGO -->
  <img
    class="logo"
    routerlink="/home"
    src="../../assets/images/logo.png"
    alt="page-logo"
  />
  <!-- NAVIGATION MENUS -->
  <div>
    <ul class="nav-links">
      <label class="hamburger" (click)="toggleMenu()">
        <fa-icon *ngIf="!isMenuOpen" [icon]="faAnglesDown"></fa-icon>
        <fa-icon *ngIf="isMenuOpen" [icon]="faAnglesUp"></fa-icon>
      </label>
      <div [ngClass]="isMenuOpen ? ['menu', 'show-menu'] : 'menu'">
        <li *ngFor="let link of links">
          <a
            routerLink="{{ link.path }}"
            routerLinkActive="active-route"
            class="link"
            (click)="toggleMenu()"
            (click)="scrollToComponent(link.anchor)"
            >{{ link.pageTitle | translate }}</a
          >
        </li>
        <!-- DROPDOWN MENU -->
        <!-- <li class="services">
              <a href="/">Services</a>
              <ul class="dropdown">
                <li><a href="/">Dropdown 1 </a></li>
                <li><a href="/">Dropdown 2</a></li>
                <li><a href="/">Dropdown 2</a></li>
                <li><a href="/">Dropdown 3</a></li>
                <li><a href="/">Dropdown 4</a></li>
              </ul>
            </li>
          </li> -->
      </div>
    </ul>
  </div>

  <!-- LANG SWITCHER -->
  <!-- <div class="center">
    <select
      name="sources"
      id="sources"
      class="custom-select sources"
      placeholder="Source Type"
      (change)="changeLanguage($event)"
    >
      <option value="en">en</option>
      <option value="it">it</option>
    </select>
  </div> -->

  <div class="d-flex">
    <details class="custom-select">
      <summary class="radios">
        <input type="radio" name="lang" id="default" title="EN" checked />
        <input type="radio" name="lang" id="en" title="EN" />
        <input type="radio" name="lang" id="it" title="IT" />
      </summary>
      <ul class="list">
        <li (click)="changeLanguage('en', $event)">
          <label for="en"> EN </label>
        </li>
        <li (click)="changeLanguage('it', $event)">
          <label for="it">IT</label>
        </li>
      </ul>
    </details>

    <!-- THEME TOGGLE -->
    <label class="switch">
      <input
        #checkbox
        type="checkbox"
        [checked]="isDarkThemeActive"
        (change)="toggleTheme($event)"
      />
      <span class="slider round">
        <fa-icon
          class="theme-icon"
          [icon]="checkbox.checked ? faMoon : faSun"
        ></fa-icon>
      </span>
    </label>
  </div>
</nav>
