/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Fira Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(37, 37, 37);
  color: white;
  font-size: 1.2rem;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  padding: 5em 0em;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
}
