<ng-particles
  [id]="id"
  [options]="particlesOptions"
  [particlesInit]="particlesInit"
  (particlesLoaded)="particlesLoaded($event)"
></ng-particles>

<div class="bg-img"></div>
<div class="container-fluid">
  <div class="row justify-content-center wrapper">
    <div class="col-12 col-md-6 box">
      <div class="heading-container">
        <p id="heading" class="display-4">
          Hello, <br />
          I'm Simone Manenti <br />
          Jr. Web Developer
        </p>
        <div class="cv-button">
          <a
            href="https://drive.google.com/file/d/1ERPuS7aHIpcymp-lyCTjAQB-oWugfXR_/view?usp=sharing"
            target="_blank"
            class="btn btn-outline-light"
            >Download CV</a
          >
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 box">
      <img
        class="img-fluid"
        src="assets/images/laptop.png"
        style="width: 25rem"
        alt="laptop-img"
      />
    </div>
  </div>
</div>
