<app-particles-bg *ngIf="!isOnMobileView"></app-particles-bg>
<div class="bg-img"></div>
<div class="container-fluid">
  <div class="row justify-content-center wrapper">
    <div class="col-12 col-md-6 box">
      <div class="heading-container">
        <p
          id="heading"
          class="display-4"
          [innerHTML]="'home.heading' | translate"
        ></p>
        <div class="cv-button">
          <a
            href="https://drive.google.com/uc?id=1ERPuS7aHIpcymp-lyCTjAQB-oWugfXR_&export=download
"
            target="_blank"
            class="btn btn-outline-light"
            >{{ "home.download" | translate }}</a
          >
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 box">
      <img
        class="img-fluid"
        src="assets/images/laptop.png"
        style="width: 25rem"
        alt="laptop-img"
      />
    </div>
  </div>
</div>
